<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base/contenedor}">
<head>
    <title>Access Denied</title>
</head>
<body>
<div layout:fragment="contenedor" th:remove="tag">
    <h1>Acceso Denegado</h1>
    <p><a href="/" th:href="@{/}">Ir a la Pagina Inical</a></p>
</div>
</body>
</html>