<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Acceso UNAB</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert2.css}"/>

    <script type="text/javascript" th:src="@{/js/sweetalert2.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

</head>
<body>
    <span th:if="!${session.code}">
         <th:block th:replace="base/cabecera :: cabecera"/>
     </span>

    <span th:if="${session.code}">
         <th:block th:replace="base/menu :: menu"/>
    </span>

    <div class="container-fluid">
        <th:block layout:fragment="contenedor"/>
    </div>
    <th:block th:replace="base/pie :: pie"/>
</body>
</html>