<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="menu">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-cabecera">
                <a class="navbar-brand" th:href="@{/code}">
                    <img th:src="@{/img/logo.png}" width="78" height="78" alt="Logo"/>
                </a>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>