<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="pie">
    <footer>
        <div class="container">
            <p>
                Universidad Andres Bello
                <span th:if="${session.auth}" style="display: inline-block;">
                        | Acceso Usuario :   <span th:text=${session.username}></span> | <a th:href="@{/logout}"> Salir </a>
                </span>
            </p>
        </div>
    </footer>
</th:block>
</body>
</html>